.form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.error-message {
  color: red;
}
.success-message {
  color: #4caf50;
}
label {
  display: block;
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

h3 {
  margin-top: 20px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

div {
  margin-bottom: 20px;
}

button[id="remove"] {
  background-color: #f44336;
}

button[type="remove"]:hover {
  background-color: #d32f2f;
}

thead {
  background-color: #f2f2f2;
}

.table {
  display: grid;
  grid-template-columns: repeat(
    8,
    1fr
  ); /* Adjust the number of columns based on your table structure */
  border-collapse: collapse;
  width: 100%;
}

.table th,
.table td {
  padding: 12px;
  text-align: left;
  border: 1px solid #ddd;
  max-width: 800px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-height: 50px;
  display: flex;
  align-items: center;
}

button {
  overflow: hidden;
}
th {
  font-weight: bold;
}

tr:hover {
  background-color: #f5f5f5;
}
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  font-size: 16px;
}
ul {
  overflow: hidden;
}

@media (max-width: 768px) {
  table th,
  table td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
    max-width: 800px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 50px;
    display: flex;
    align-items: center;
  }
}
