.dashboardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 70px;
  justify-content: center;
  padding: 20px;
  margin-top: 5em;
}

.chartContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 768px) {
  .dashboardContainer {
  
    grid-template-columns: repeat(auto-fill, minmax(345px, 1fr));
  }
}
